# .github/workflows/apply.yml
name: Apply
on:
  push:
    branches: [main]
permissions:
  id-token: write
  contents: read
  pull-requests: write
jobs:
  apply:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1
      - uses: dflook/terraform-apply@v2
        with:
          path: .
