name: Checkov

on:
  push:
    branches: [main]
  pull_request:

jobs:
  checkov:
    strategy:
      matrix:
        module:
          - auto-trader
          - infra-data
          - infra-ecs-cluster
          - infra-fleet-service
          - infra-networking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: ${{ matrix.module }}
          framework: terraform
