name: Trivy

on:
  push:
    branches: [main]
  pull_request:

jobs:
  trivy:
    strategy:
      matrix:
        module:
          - auto-trader
          - infra-data
          - infra-ecs-cluster
          - infra-fleet-service
          - infra-networking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "config"
          scan-ref: ${{ matrix.module }}
          hide-progress: true
          exit-code: "1"
