name: Validation

on:
  push:
    branches: [main]
  pull_request:

jobs:
  validation:
    strategy:
      matrix:
        module:
          - auto-trader
          - infra-data
          - infra-ecs-cluster
          - infra-fleet-service
          - infra-networking
        engine: ["terraform"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Validate
        working-directory: ${{ matrix.module }}
        run: |
          terraform init -backend=false
          terraform validate
